include bclearer_boson_1_2_source/resources/adjustment_universes/OS OpenData Product Models_attributes_to_convert_boson1_2_v0_03.hdf5
include bclearer_boson_1_2_source/resources/adjustment_universes/OS OpenData Product Models_attributes_to_remove_boson1_2_v0_01.hdf5
include bclearer_boson_1_2_source/resources/content_universes/bCLEARer_digitisation_level_stereotypes_v0_02_AMi.hdf5
include bclearer_boson_1_2_source/resources/content_universes/bCLEARer_individual_powerset hierarchy component_v0_03_AMi.hdf5
include bclearer_boson_1_2_source/resources/content_universes/bCLEARer_name_pattern_component_v0_03_AMi.hdf5
include bclearer_boson_1_2_source/resources/content_universes/bCLEARer_top_level_ontic_category_system_v0_05_AMi.hdf5
include bclearer_boson_1_2_source/resources/content_universes/bOSON_1_2-deep_onomatology-coordinates-v0.11-boson_1_2.hdf5
include bclearer_boson_1_2_source/resources/content_universes/bOSON_1_2-deep_onomatology-coordinates-v0.11-inspire link.hdf5
include bclearer_boson_1_2_source/resources/content_universes/bOSON_1_2-deep_onomatology-coordinates-v0.11-inspire.hdf5
